<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>舟行泱泱</title>
</head>
<body>
    <div class="welcome"></div>
        {% if username %}  
        <p>你好， {{ username }}!</p>  
    {% else %}  
        <p>你好， guest!</p>  
    {% endif %}  
        <h1>欢迎访问我的博客</h1> 
    </div>

    <div class="nav">

        <a href="{{url_for('new')}}">发表文章</a>
        <a href="{{url_for('logout')}}">退出登录</a>
    </div>
    
   
    <hr>
    <!--flash提示语-->
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
    <hr>



    <!-- 分页设置表单 -->
    <form method="get" action="{{ url_for('index') }}">
        <label for="per_page">每页显示:</label>
        <input type="number" id="per_page" name="per_page" value="{{ per_page }}" min="1">
        <input type="submit" value="更新">
    </form>

    <!-- 显示帖子 -->
    <ul>
        {% for post in posts %}
            <!--跳转至post页面，同时将变量post_id赋值为循环中的post的id值-->
            <a href="{{url_for('post',post_id=post['id'])}}"> 
            <h2>{{ post['title'] }}</h2>
    </a>
    <span>{{ post['created'] }}</span>
    <hr>
        {% endfor %}
    </ul>
    
    <!-- 分页控件 -->
    <div>
        {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1, per_page=per_page) }}">上一页</a>
        {% endif %}

        页 {{ page }} / {{ total_pages }}

        {% if page < total_pages %}
            <a href="{{ url_for('index', page=page+1, per_page=per_page) }}">下一页</a>
        {% endif %}
    </div>
    
  
</body>
</html>