<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>新建文章</h1>
    <hr>

    <!--flash提示语-->
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>

    <hr>
    <!--method="post"：提交表单数据以保存到数据库，提交的数据不会显示在浏览器的地址栏中，也不会被添加到浏览器的历史记录中，从而提高了数据的安全性-->
    <form method="post"> 
        <div class="form-group">
            <label for="title">标题</label>
            <br>
            <!--此处value不为空，表示提交报错，返回该页面时，可以保留原来填写的内容-->
            <input type="text" name="title" placeholder="请输入标题" value="{{ request.form['title'] }}">
        </div>
        <br>
        <div class="form-group">
            <label for="content">内容</label>
            <br>
            <!--textarea：创建多行文本输入区域-->
            <textarea name="content" placeholder="请输入文章内容">{{ request.form['content'] }}</textarea>
        </div>
        <br>
        <div class="form-group">
            <button type="submit">提交</button>
        </div>
    </form>    

    

</body>
</html>

